/* 색상 정의 */
:root {
  --background-color-main-page: rgba(144, 238, 144, 0.66);
  --background-color-footer-icon : violet;
  --background-color-list-box : lightgreen;
  --background-color-text-btn : gray;
  --background-color-caution-box : ivory;
  --background-color-footer-text: rgb(84, 44, 24);
  --background-color-login-popup-background: rgb(232, 232, 232);
  --background-color-popup-background: rgba(0, 0, 0, 0.5);
  --background-color-main-card: rgba(36, 168, 36, 0.516);
  --background-color-tree-brown: rgb(84, 44, 24);
  --color-text-btn : white;
  --color-caution-text : rgb(143, 143, 143);
  --color-btn: #20ad45;
}

body * {
  font-family: "Jua", sans-serif;
}

body li {
  list-style-type: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main-page {
  background-color: var(--background-color-main-page);
  background-image: url(../img/background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-page-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.main-page-text {
  font-size: 80px;
  color: white;
  margin: 0;
}

/* text-btn 시작 */
.text-btn{
  background-color: var(--background-color-text-btn);
  color: var(--color-text-btn);
  padding: 5px 10px;
  margin: 1% 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.text-btn a {
  text-decoration: none;
  color: var(--color-text-btn);
}
/* text-btn 끝 */

/* main-card 시작 */
.main-card {
  width: 310px; 
  height: 530px;
  border-radius: 30px;
  position: relative;
  display: inline-block;
  margin: 0 10px;
}


.main-card img {
  width: 310px;
  height: 530px;
}

.main-card:hover {
  cursor: pointer;
}

.main-card:hover .main-card-info-box {
    transform: scale(1);
}

.main-card .main-card-info-box {
  position: relative;
  width: 310px;
  height: 530px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  left: 335px;
  bottom: 535.5px;
  transform: scale(0);
  transition: all .2s ease;
  z-index: 999;
}

.main-card-info-head {
  width: 310px;
  height: 100px;
  margin-top: 10px;
  font-size: 30px;
  line-height: 40px;
}

.main-card-info-head span {
  white-space: pre-wrap;
}

.main-card-info-body {
  height: 330px;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.main-card-info-body * {
  width: 310px;
}

.main-card-info-footer {
  font-size: 25px;
  height: 100px;
}

.card-text-btn {
  text-align: center;
  width: 310px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--background-color-main-card);
}
/* main-card 끝 */

/* main-card-container 시작 */
.body-main-page-card {
  display: inline-block;
  height: 550px;
  width: 100%;
  margin: 10px 0;
  overflow-y: hidden;
  white-space: nowrap;
}

.main-card-container {
  margin: 20px 0;
}

.main-card-container::-webkit-scrollbar {
  height: 15px;
}

.main-card-container::-webkit-scrollbar-thumb {
  background-color: hsla(216, 100%, 81%, 0.29);
  border-radius: 7.5px;
}

.card-container {
  height: 530px;
  display: inline-block;
  padding: 0 40%;
}
/* maincard-container 끝 */

/* category-card-container 시작 */
.category-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.category-box-item {
  display: inline-flex;
  flex-direction: column-reverse;
  background-color: var(--background-color-list-box);
  list-style-type: none;
  margin: 5px;
  width: 310px;
  height: 530px;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 490px;
}

.category-item-box{
  display: flex;
  padding: 0 auto;
}

.category-box-item:hover{
  border:2px green solid;
}

.category-box a {
  text-decoration: none;
  color: var(--color-btn);
}

.category-box-text{
  display: flex;
  height: 40px;
  background-color: beige;
  align-items: center;
  justify-content: space-around;
}

.category-box-text div

.category-box-item-sort {
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
  width: 100%;
  height: 60px;
  text-align: end;
}

.category-box-item-sort > a {
  color: green;
}
/* category-card-container 끝 */

/* list-box 시작 */
.list-box-container {
  width: 100%;
  padding: 0;
  font-size: 15px;
  display: table;
}

.list-box-item {
  background-color: var(--background-color-list-box);
  /* height: 50%; */
  border: 1px solid black;
  align-items: center;
}

.wish-list-table th {
  display: table-cell;
}
/* list-box 끝 */

/* caution-box 시작 */
.caution-box {
  display: block;
  background-color: var(--background-color-caution-box);
}

.caution-list {
  color: var(--color-caution-text);
  font-size: 15px;
}
/* caution-box 끝 */

/* footer-text-botton 시작 */
.footer-text-btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-text-btn {
  height: 20px;
  width: 70px;
  background-color: var(--color-btn);
  border-radius: 20px;
  position: relative;
  display: inline-block;
  margin: 10px 20px;
}

.footer-text-btn:hover {
  cursor: pointer;
}

.footer-text-btn:hover .footer-text-btn-box {
    transform: scale(1);
}

.footer-text-btn .footer-text-btn-box {
  position: relative;
  width: 300%;
  background-color: var(--background-color-footer-text);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transform: scale(0);
  transition: all .2s ease;
  z-index: 999;
  border-radius: 15px;
}

.footer-text-btn-info {
  display: inline-block;
  width: 100%;
}

.footer-text-btn-info > ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-text-btn-CS {
  bottom: 86px;
  right: 15%;
}

.footer-text-btn-SNS {
  bottom: 72.5px;
  right: 15%;
}

.footer-text-btn-AboutUs {
  bottom: 59.5px;
  right: 15%;
}

.footer-text-btn-info > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-text-btn);
}

.footer-text-btn-SNS ul {
  padding: 0;
}

.footer-text-btn-SNS li {
  list-style-type: none;
  display: inline-block;
  margin: 0 auto;
  height: 100%;
}

.footer-text-btn-box img {
width: 40px;
height: 40px;
}
/* footer-text-botton 끝 */

/* login-popup 시작 */
.popup-background {
  background-color: var(--background-color-tree-brown);
  position: fixed;
	top: 0;
	left: 0;
  width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s ease;
  z-index: 999;
}

.search-popup-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	background-color: var(--background-color-popup-background);
	top: 20%;
	left: 25%;
  width: 50%;
	height: 50%;
  border-radius: 20px;  
}

.popup {
    background-color: var(--background-color-tree-brown);
    border-radius: 1vw;
    width: 25vw;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: visibility 0s, opacity 0.3s ease;
}

.popup-close-btn .btn {
  padding: 0;
}

.search-popup {
  display: flex;
  align-items: flex-end;
  margin-top: 2%;
  width: 70%;
  height: 20%;
  background-color: var(--background-color-popup-background);
}

.search-popup .btn {
  padding: 0;
  color: white;
}

.ID-box, .PW-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-popup {
  justify-content: space-evenly;
}

.signin-popup > * {
  margin-top: 10px;
}

.login-popup p, .signin-popup p {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 30px;
}

.auth-box-ID{
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  border:1px solid #000000;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  min-width: 100px;
  font-size: 20px;
}

.login-btn {
  font-size: 20px;
}

.find-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}

.find-btn-box {
  display: flex;
  align-items: center;
}

.auto-login-btn-box, .signin-btn-box {
  font-size: small;
  position: relative;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.auto-login-toggle-btn {
  position: relative;
  right: 40%;
  text-align: center;
  display: inline-block;
  width: 10%;
  height: 5%;
  margin: 0;
}

.auto-login-btn-box .toggleSwitch {
  margin: 0;
}
/* login-popup 끝 */

/*button 시작*/
/*전체 버튼에 적용되는 설정*/
.btn{
  position:relative;
  border:none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  transition:0.25s;
  text-align: center;
  color: var(--color-btn);
}

.find-btn .btn, .signin-btn-box .btn {
  padding: 5px 10px;
  margin: 1% 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:active{
  transform:scale(1.3);
}

.btn:hover{
  letter-spacing: 2px;
  transform: scale(1.1);
  cursor: pointer;
}

.signin-btn-box > .btn, .signin-popup .btn{
  background-color: var(--background-color-tree-brown);
}

/* login, logout, 회원가입 버튼에 적용되는 설정 */
.auth-btn{
  background-color: var(--color-btn);
  color: #000000;
}

.auth-btn:hover {
  background-color: var(--color-btn);
  color: var(--background-color-tree-brown);
}

.search-btn{
  align-items: center;
  height: 100%;
}

.search-btn > img{
  display: inline-block;
  height: 100%;
  align-items: center;
}

.toggleSwitch {
  width: 80px;
  height: 30px;
  display: block;
  position: relative;
  right: inherit;
  border-radius: 30px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 3px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
  margin: 15px;
}

.toggleSwitch .toggleButton {
  width: 30%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #09b53f;
}

#toggle:checked ~ .toggleSwitch {
  background: #09b53f;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 30px);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}

.nav-btn{
  background: #08db40;
  color:#fff;
  font-size: 16px;
}

.search-popup > .btn {
  position: absolute;
  right: 2%;
}
/*button 종료*/

/*input-box 시작*/
.auth-box{
  box-sizing: border-box;
  width:25%;
  position: absolute;
  border:1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  min-width: 100px;
  font-size: 15px;
}

.search-box{
  position: relative;
  width:100%;
  height: 100%;
}

#search-input{
  height: 100%;
  box-sizing: border-box;
  width:100%;
  min-width:30px;
  border:1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  font-size: 160%;  
}

.search-box img{
  right:12px;
  position: absolute;
  height: 80%;
  top:9px;
  margin : 0;
}
/*input-box 종료*/

/* nav-bar 시작 */
.nav-bar{
  display: flex;
  height: 60px;
  padding: 8px 0;
  width: 100%;
}

.nav-bar-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-comp-name {
  font-size: 40px;
  color: var(--color-text-btn);
}

.nav-bar-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* nav-bar 종료 */

/* size-option-btn */
.main-size-option{
  display: flex;
  flex-wrap:  wrap;
  justify-content: center;
  width:310px;
}

.main-size-option-btn{
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin: 2px 2px;
}

.item-top-container{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid var(--background-color-tree-brown);
  border-radius: 20px;
}

/* item-top-container 좌측 */
.item-container{
  width:310px;
  height: 530px;;
  background-color: red;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-size: 100% 100%;
  color: antiquewhite;
}

.size-option{
  display: flex;
  flex-wrap:  wrap;
  justify-content: center;
  width:350px;
}

.size-option-btn{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 2px 2px;
}

.selectedcolor-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-option{
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-around;
}

.color-option > input{
  width:180px;
}

#changedColor {
  margin-left: 10px;
  width: 50px;
  height: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.chosen-option{
  width: 350px;
}

.decision{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  width:350px;
  padding: 10px 0;
}

.decision button{
  background-color: var(--background-color-tree-brown);
  border: none;
}

.bi {
  color: white;
}

.like-btn:hover {
  cursor: pointer;
}

.bi-heart-fill{
  color: red;
}

.decision img, .decision svg{
  width: 50px;
  height : 50px;
}

/* item-bottom-container */
.item-bottom-container{
  border:3px solid var(--background-color-tree-brown);
  border-radius: 20px;
  background-color: rgb(0, 160, 0);
}

.item-bottom-container > header{
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin: 0;
}

.item-bottom-container > header > p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* padding : 12px 0 6px 0; */
}

.item-details, .review{
  margin: 0;
  padding: 15px;
}

.review {
  border-top: 2px solid var(--background-color-tree-brown);
}

.item-details > p{
  margin: 0;
}

.review-select, .more-info-select {
  background-color: rgb(0,94,0);
  border: none;
  height: 100%;
  width: 50%;
  border-radius: 17px;
}

.selected {
  background-color: rgb(0, 160, 0);
}

#where{
  width: 300px;
}
.pay-box{
  display: flex;
  flex-wrap : wrap;
  height : 200px;
  align-items: center;
}
.pay-box > div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30%;
}
.pay-box > .pay-img-contain >img{
  border: 1px solid black;
  width:60px;
  height:60px;
  object-fit: contain; 
}
.pay-box > .pay-img-cover > img {
  width:60px;
  height: 60px;
  object-fit: cover;
}

.pay{
  display: flex;
  justify-content: center;
}

.pay-btn{
  background-color: #6aafe6;
  color: #d4dfe6;
}

.pay-btn:hover {
  background-color: red;
  color:whitesmoke;
  letter-spacing: 2px;
  transform: scale(1.1);
  cursor: pointer;
}
/*paid.css*/
.bought-items{
  background-color: green;
  border: 3px solid var(--background-color-tree-brown);
  width:100%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bought-item{
  list-style-type: none;
  margin-right: 20px;
}
.bought-item > li{
  text-align: end;
}
.bought-item > button{
  margin-right: 0px;
}
.bought-item-image > img{
  width: 100px;
  height: 100px;
}

.total-paid-price{
  font-size: 50px;
  text-align: center;
  margin-top:30px;
  padding: 40px;
  background-color: var(--background-color-tree-brown);
  color:white;
}
.go-to-site{
  margin-top:30px;
  padding: 40px;
  background-color: var(--background-color-tree-brown);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.go-to-site > a{
  margin : 16px 0;
}
/* pay.css */
#where{
  width: 300px;
}
.pay-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay-box{
  display: flex;
  flex-wrap : wrap;
  height : 200px;
  align-items: center;
}
.pay-box > div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30%;
}
.pay-box > .pay-img-contain > label >img{
  border: 1px solid white;
  width:60px;
  height:60px;
  object-fit: contain; 
}
.pay-box > .pay-img-cover > label > img {
  border: 1px solid white;
  width:60px;
  height: 60px;
  object-fit: cover;
}

.pay{
  margin-top:10px;
  display: flex;
  justify-content: center;
}

.pay-btn{
  background-color: #6aafe6;
  color: #d4dfe6;
}

.pay-btn:hover {
  background-color: red;
  color:whitesmoke;
  letter-spacing: 2px;
  transform: scale(1.1);
  cursor: pointer;
}

.ship-box-button{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.confirm-btn{
  padding: 10px 20px;
  width: 100px;
  margin-right:100px;
}
.confirm-btn:active{
  background-color: red;
  color:whitesmoke;
}

.ship-info{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-tree-brown);
  color: white;
  padding : 10px 0;
}
.ship-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:10px;
  width:100%;
}
.pay-method{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-tree-brown);
  color: white;
}
.ship-confirmed-info{
  display: none;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 604px;
  height: 340px;
  padding : 10px 0;
  visibility: hidden;
  transition: linear 0.5s;

}
.ship-confirmed-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/src/img/mail.jpeg);
  width:100%;
  height: 100%;
  
}
/* unpaid.css */
.fail-payment{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* item-page.css */
/* item-top-container */
.item-top-container{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid var(--background-color-tree-brown);
  border-radius: 20px;
}

.item-summary{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-wrap: nowrap;
  width:100%;
  height: 70px;
  background-color: rgba(128, 50, 50, 0.676);
}

.item-summary > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  font-size: 150%;
  padding: 0 0 0 0;
}

/* item-top-container 우측 */
.item-order-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 550px;
  background-color: var(--background-color-tree-brown);
  text-align: center;
  color: var(--color-btn);
  font-size: 19px;
}

.size-option{
  display: flex;
  flex-wrap:  wrap;
  justify-content: center;
  width:350px;
}

.size-option-btn{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 2px 2px;
}

.selectedcolor-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-option{
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-around;
}

.color-option > input{
  width:180px;
}

#changedColor {
  margin-left: 10px;
  width: 50px;
  height: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.chosen-option{
  width: 350px;
}

.decision{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  width:350px;
  padding: 10px 0;
}

.bi {
  color: white;
}

.like-btn:hover {
  cursor: pointer;
}

.bi-heart-fill{
  color: red;
}

.decision img, .decision svg{
  width: 50px;
  height : 50px;
}

/* item-bottom-container */
.item-bottom-container{
  border:3px solid var(--background-color-tree-brown);
  border-radius: 20px;
  background-color: rgb(0, 160, 0);
}

.item-bottom-container > header{
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin: 0;
}

.item-bottom-container > header > p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* padding : 12px 0 6px 0; */
}

.item-details, .review{
  margin: 0;
  padding: 15px;
}

.review {
  border-top: 2px solid var(--background-color-tree-brown);
}

.item-details > p{
  margin: 0;
}

.review-select, .more-info-select {
  background-color: rgb(0,94,0);
  border: none;
  height: 100%;
  width: 50%;
  border-radius: 17px;
}

.selected {
  background-color: rgb(0, 160, 0);
}

/* cart-page.css */
.list-box-container{
  display: flex;
  justify-content: center;
}

.cart-sum{
  margin-top: 40px;
  border-radius: 10px;
  background-color: var(--background-color-tree-brown);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cart-sum > div{
  display: flex;
  height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pay-cart-btn{
  display: flex;
  justify-content: center;
}

.pay-btn{
  background-color: #6aafe6;
  color: #d4dfe6;
}

.pay-btn:hover {
  background-color: red;
  color:whitesmoke;
  letter-spacing: 2px;
  transform: scale(1.1);
  cursor: pointer;
}

.list-box-item > img{
  width:100px;
  height:100px;
}

.wish-list-table{
  width: 100%;
}
.check-item{
  width: 5%;
}

.cart-item-image{
  width : 15%;
  min-width: 100px;
}
.cart-item-name{
  width:40%;
}
.cart-item-price{
  width:20%;
}
.cart-item-quantity{
  width: 10%;
}
.cart-item-ship-price{
  width:15%;
}
.item-quantity-counter{
  display:flex;
  border: 1px solid black;
  width:calc(22.5px * 2 + 20px);
  align-items: center;
  justify-content: center;
}
.quantity-result{
  width: 20px;
  text-align: center;
}
.calc-btn{
  border-radius: 5px;
  background-color: var(--background-color-text-btn);
  color:white;
}