<main class="category-card-container">
  <nav class="category-box-item-sort">
    <a href="#" class="text-btn btn-active">
      <span>인기상품 순</span>
    </a>
    <a href="#" class="text-btn btn-active">
      <span>찜 많은 순</span>
    </a>
    <a href="#" class="text-btn btn-active">
      <span>높은 가격 순</span>
    </a>
    <a href="#" class="text-btn btn-active">
      <span>낮은 가격 순</span>
    </a>
  </nav>
  <ul class="category-box">
    <li class="category-box-item"></li>
    <li class="category-box-item"></li>
    <li class="category-box-item"></li>
    <li class="category-box-item"></li>
    <li class="category-box-item"></li>
    <li class="category-box-item"></li>
  </ul>
</main>