<footer>
  <div class="footer-text-btn-group">
    <div class="text-btn footer-text-btn">
      CS
      <div class="footer-text-btn-box">
        <div class="footer-text-btn-info">
          <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, repellendus.
          </a>
          <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, repellendus.
          </a>
        </div>
      </div>
    </div>
    <div class="text-btn footer-text-btn">
      SNS
      <div class="footer-text-btn-box ">
        <div class="footer-text-btn-info footer-text-btn-SNS">
          <ul>
            <li><a href="#"><img src="./img/insta_icon_1x.svg" alt="facebook">
            </a></li>
            <li><a href="#"><img src="./img/facebook_icon_1x.svg" alt="facebook">
            </a></li>
            <li><a href="#"><img src="./img/twitter_icon_1x.svg" alt="facebook">
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-btn footer-text-btn">
      About us
      <div class="footer-text-btn-box">
        <div class="footer-text-btn-info">
          <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, repellendus.
          </a>
          <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, repellendus.
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>