<!-- 자동으로 크기 변경됨 -->

<main class="list-box-container">
  <table class="wish-list-table cart-table">
    <thead class="wish-list-table-head">
      <tr>
        <th scope="col">전체 개</th>
        <th scope="col">전체 선택<input type="checkbox" class="check_all"></th>
        <th scope="col">상품명</th>
        <th scope="col">상품 가격</th>
        <th scope="col">주문 갯수</th>
        <th scope="col">주문 가격</th>
        <th scope="col">주문 관리</th>
        <th scope="col">배송비</th>
      </tr>
    </thead>
    <tbody class="wish-list-table-body">
      <th scope="col" class="list-box-item">전체 개</th>
      <th scope="col" class="list-box-item">전체 선택<input type="checkbox" class="check_all"></th>
      <th scope="col" class="list-box-item">상품명</th>
      <th scope="col" class="list-box-item">상품 가격</th>
      <th scope="col" class="list-box-item">주문 갯수</th>
      <th scope="col" class="list-box-item">주문 가격</th>
      <th scope="col" class="list-box-item">주문 관리</th>
      <th scope="col" class="list-box-item">배송비</th>
    </tr>
    </tbody>
  </table>
</main>