<section class="login-popup-background">
  <div class="login-popup">
    <div id="ID-box">
      <p>아이디</p>
      <input type="text" class="auth-box-ID">
    </div>
    <div id="PW-box">
      <p>비밀번호</p>
      <input type="password" class="auth-box-ID">
    </div>
    <div class="text-btn login-btn"><a href="#">로그인</a></div>
    <div class="find-box">
      아이디, 비밀번호를 잃어버리셨나요?<br>
      <div>
        <div class="text-btn find-btn"><a href="#">아이디 찾기</a></div>
        <div class="text-btn find-btn"><a href="#">비밀번호 찾기</a></div>
      </div>
    </div>
    <div class="auto-login-btn-box">
      자동로그인
      <div class="auto-login-toggle-btn">토글버튼</div>
    </div>
    <div class="signin-btn-box">
      아직 부엉이 가족이 아닌가요?
      <div class="text-btn signin-btn">부엉이랑 가족하기!</div>
    </div>
  </div>
</section>