<section class="login-popup-background">
  <div class="login-popup">
    <div id="name-box" class="ID-box">
      <p>이름</p>
      <input type="text" class="auth-box-ID">
    </div>
    <div id="ID-box" class="ID-box">
      <p>아이디</p>
      <input type="password" class="auth-box-ID">
    </div>
    <div id="PW-box" class="PW-box">
      <p>비밀번호</p>
      <input type="password" class="auth-box-ID">
    </div>
    <div id="PW-check-box" class="PW-box">
      <p>비밀번호 확인</p>
      <input type="password" class="auth-box-ID">
    </div>
    <div class="text-btn login-btn"><a href="#">부엉이랑 가족하기</a></div>
  </div>
</section>