/*category-card 목록*/
.category-card{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
}
.category-card-text{
  display: flex;
  text-align: center;
  justify-content: space-around;
  height : 30px;
  white-space: nowrap;
  overflow: hidden;
}
.category-card div{
  background-color: red;
}

/*category-card 목록 마무리*/
.header {
  background-color: skyblue;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: red;
}

.head_menu {
  display: flex;
  list-style-type: none;
}

main {
  background-color: violet;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section1, .section2, .section3, .section4 {
  display: inline-block;
  background-color: lightgreen;
  height: 38vh;
  width: 80vw;
  margin-top : 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

section:last-child {
  margin-bottom: 10px;
}

footer {
  background-color: lightpink;
  height: 100px;
}

.card {
  background-color: lightcoral;
  display: inline-block;
  width: 16vw; /* 카드 크기에 맞춰서 */
  border: 1px solid black;
  height: 36vh;
  margin: 1vh calc();
}

.card_container {
  display: inline-block;
  padding: 0 38.5%;
}