/* 색상 정의 */
:root {
  --background-color-footer-icon : violet;
  --background-color-footer-icon-container : skyblue;
  --background-color-list-box : lightgreen;
  --background-color-text-btn : gray;
  --background-color-caution-box : ivory;
  --background-color-footer-text: pink;
  --background-color-login-popup-background: rgb(232, 232, 232);
  --color-text-btn : white;
  --color-caution-text : rgb(143, 143, 143);
}

body {
  font-family: "Jua", sans-serif;
}

/* text-btn 시작 */
.text-btn{
  background-color: var(--background-color-text-btn);
  color: var(--color-text-btn);
  padding: 5px 10px;
  margin: 1% 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.text-btn a {
  text-decoration: none;
  color: var(--color-text-btn);
}
/* text-btn 끝 */

/* main-card 시작 */
.main-card {
  width: 310px; 
  height: 530px;
  background-color: var(--background-color-footer-icon);
  border-radius: 30px;
  position: relative;
  display: inline-block;
  margin: 0;
}

.main-card img {
  width: 310px;
  height: 530px;
}

.main-card:hover {
  cursor: pointer;
}

.main-card:hover .main-card-info-box {
    transform: scale(1);
}

.main-card .main-card-info-box {
  position: relative;
  width: 310px;
  height: 530px;
  background-color: var(--background-color-main-card);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  left: 101.7%;
  top: -100.7%;
  transform: scale(0);
  transition: all .2s ease;
  z-index: 999;
}

.main-card .main-card-info-box >  {
  height: 50%;
}

.main-card-info {
  display: inline-block;
  width: 100%;
}

.main-card-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card-info-head {
  height: 80px;
}

.main-card-info-body {
  height: 350px;
}

.main-card-info-footer {
  height: 100px;
}

.card-text-btn {
  padding: 0;
  margin: 0;
  background-color: var(--background-color-footer-icon);
}
/* main-card 끝 */

/* maincard-container 시작 */
.body-main-page-card {
  display: inline-block;
  background-color: var(--background-color-footer-icon-container);
  height: 550px;
  width: 80vw;
  margin: 10px 0;
  overflow-y: hidden;
  white-space: nowrap;
}

.card-container {
  display: inline-block;
  padding: 0 30.4vw;
}
/* maincard-container 끝 */

/* category-card-container 시작 */
.category-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.category-box-item {
  background-color: var(--background-color-list-box);
  list-style-type: none;
  width: 310px;
  height: 530px;
  border: 1px solid black;
}

.category-box-item-sort {
  display: inline-block;
  width: 100%;
  height: 60px;
  text-align: end;
}
/* category-card-container 끝 */

/* list-box 시작 */
.list-box-container {
  width: 100%;
  padding: 0;
  font-size: 15px;
  display: table;
}

.list-box-item {
  background-color: var(--background-color-list-box);
  /* height: 50%; */
  border: 1px solid black;
  align-items: center;
}

.wish-list-table th {
  display: table-cell;
}
/* list-box 끝 */

/* caution-box 시작 */
.caution-box {
  display: block;
  background-color: var(--background-color-caution-box);
}

.caution-list {
  color: var(--color-caution-text);
  font-size: 15px;
}
/* caution-box 끝 */

/* footer-text-btn 시작 */
.footer-text-btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-text-btn {
  height: 20px;
  width: 70px;
  background-color: var(--background-color-footer-text);
  border-radius: 20px;
  position: relative;
  display: inline-block;
  margin: 10px 20px;
}

.footer-text-btn:hover {
  cursor: pointer;
}

.footer-text-btn:hover .footer-text-btn-box {
    transform: scale(1);
}

.footer-text-btn .footer-text-btn-box {
  position: relative;
  width: 200px;
  background-color: var(--background-color-footer-text);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top: 15%;
  right: 15%;
  transform: scale(0);
  transition: all .2s ease;
  z-index: 999;
  border-radius: 20px;
}

.footer-text-btn-info {
  display: inline-block;
  width: 100%;
}

.footer-text-btn-info > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-text-btn);
}

.footer-text-btn-SNS ul {
  padding: 0;
}

.footer-text-btn-SNS li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
  height: 100%;
}

.footer-text-btn-box img {
width: 40px;
height: 40px;
}
/* footer-text-btn 끝 */

/* login-popup 시작 */
.login-popup-background {
  background-color: var(--background-color-login-popup-background);
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-popup {
  background-color: var(--background-color-footer-text);
  width: 20vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
}

.ID-box, .PW-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.login-popup p {
  margin: 0;
}

.auth-box-ID{
  box-sizing: border-box;
  width:90%;
  height: 100%;
  border:1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  min-width: 100px;
  font-size: 15px;
}

.find-btn {
  font-size: 9px;
}
/* login-popup 끝 */