/* 중복 코드 목록 */
:root {
  --background-color-main-page: rgba(144, 238, 144, 0.66);
  --background-color-footer-icon : violet;
  --background-color-list-box : lightgreen;
  --background-color-text-btn : gray;
  --background-color-caution-box : ivory;
  --background-color-footer-text: rgb(84, 44, 24);
  --background-color-login-popup-background: rgb(232, 232, 232);
  --background-color-popup-background: rgba(0, 0, 0, 0.5);
  --background-color-main-card: rgba(36, 168, 36, 0.516);
  --background-color-tree-brown: rgb(84, 44, 24);
  --color-text-btn : white;
  --color-caution-text : rgb(143, 143, 143);
  --color-btn: #20ad45;
}

body * {
  font-family: "Jua", sans-serif;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn{
  position:relative;
  border:none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  transition:0.25s;
  text-align: center;
  color: var(--color-btn);
}

.nav-bar{
  display: flex;
  height: 60px;
  padding: 8px 0;
  width: 100%;
}

.nav-bar-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-comp-name {
  font-size: 40px;
  color: var(--color-text-btn);
}

.nav-bar-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 로고 */
.nav-bar-logo {
  display: inline-block;
  height: 100%;
  width: 60px;
  margin-left: 2%;
}

.nav-bar-logo img{
  display: inline-block;
  height: 100%;
  width: 100%;
}

.search-btn{
  align-items: center;
  height: 100%;
}

.search-btn > img{
  display: inline-block;
  height: 100%;
  align-items: center;
}

.nav-btn{
  background: #08db40;
  color:#fff;
  font-size: 16px;
}

.search-popup > .btn {
  position: absolute;
  right: 2%;
}
.popup-background {
  background-color: var(--background-color-tree-brown);
  position: fixed;
	top: 0;
	left: 0;
  width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s ease;
  z-index: 999;
}

.search-popup-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	background-color: var(--background-color-popup-background);
	top: 20%;
	left: 25%;
  width: 50%;
	height: 50%;
  border-radius: 20px;  
}

.popup {
    background-color: var(--background-color-tree-brown);
    border-radius: 1vw;
    width: 25vw;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: visibility 0s, opacity 0.3s ease;
}

.popup-close-btn .btn {
  padding: 0;
}

.search-popup {
  display: flex;
  align-items: flex-end;
  margin-top: 2%;
  width: 70%;
  height: 20%;
  background-color: var(--background-color-popup-background);
}

.search-popup .btn {
  padding: 0;
  color: white;
}

.ID-box, .PW-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-popup p, .signin-popup p {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 30px;
}

.auth-box-ID{
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  border:1px solid #000000;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  min-width: 100px;
  font-size: 20px;
}

.login-btn {
  font-size: 20px;
}

.find-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}

.find-btn-box {
  display: flex;
  align-items: center;
}

.auto-login-btn-box, .signin-btn-box {
  font-size: small;
  position: relative;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.auto-login-toggle-btn {
  position: relative;
  right: 40%;
  text-align: center;
  display: inline-block;
  width: 10%;
  height: 5%;
  margin: 0;
}

.auto-login-btn-box .toggleSwitch {
  margin: 0;
}
/* 중복코드 종료 */

